<html>
  <body>
    <head>
      <link rel="stylesheet" type="text/css" href="mystyle.css">
      <title>This is from views_test/index.erb</title>
    </head>
    <h1>Hahahaha! From a test folder!</h1>
  </body>
</html>